apiVersion: apps/v1
kind: Deployment
metadata:
  name: ping-prueba
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ping-prueba
  template:
    metadata:
      labels:
        app: ping-prueba
    spec:
      containers:
      - name: ping-prutba-short
        image: 116933114869.dkr.ecr.us-east-1.amazonaws.com/zn-ecr-ping-prueba:lastest
        ports:
        - containerPort: 30300
## Primero debemos de conectarnos al EKS donde queremos hacer los despliegues
## Ejercutamos el siguiente comando para ver en que EKS estamos ubicados
## kubectl get svc
## Ejecutamos el siguiente comando para apuntar a un EKS especificado
## aws eks update-kubeconfig --region us-east-2 --name eks-github-cd-ci-2-1
## Ejecutamos el siguiente comando
## kubectl apply -f ./src/main/resources/Despliegue/deployment.yaml
## tagear docker tag ping-prueba-short:latest 116933114869.dkr.ecr.us-east-1.amazonaws.com/zn-ecr-ping-prueba:lastest
## Logear aws ecr get-login-password | docker login --username AWS --password-stdin 116933114869.dkr.ecr.us-east-1.amazonaws.com
## enviar docker push 116933114869.dkr.ecr.us-east-1.amazonaws.com/zn-ecr-ping-prueba:lastest
